<div id="project-logo-section" class="container">
    <div class="row">
        <h4>Logo type</h4>
        <img class="img-responsive center-block" src="{{ page.project-logotype }}"/>
        <!--<div class="grid">-->
            <!--<div class="grid-sizer"></div>-->
            <!--{% for projectLogo in page.project-logotype %}-->
            <!--<div class="grid-item {{ projectLogo.class }}">-->
                <!--&lt;!&ndash;<img class="img-responsive" src="{{ projectLogo.image }}"/>&ndash;&gt;-->
            <!--</div>-->
            <!--{% endfor %}-->
        <!--</div>-->
    </div>
</div>