<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <img class="nav-logo" src="/img/logo/crux-brand-inverse.png"/>
                </a>
                <div class="nav-right-container">
                    <ul class="nav navbar-right">
                        <li id="project-menu">
                            <span class="toggle-planner">START A PROJECT</span>
                        </li>
                        <li id="menu-list">
                            <button type="button" id="icon-transition" class="toggle-nav">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="body-planner">
                <div class="form-container">
                    <button type="button" class="close-menu toggle-planner">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div class="container">
                        <div class="row">
                            <form action="//formspree.io/capielle17@gmail.com" method="POST">
                                <input type="text" class="input-sm" name="name" placeholder="Name" >
                                <input type="email" class="input-sm" name="email" placeholder="Email">
                                <input type="text" class="input-sm" name="project" placeholder="Project">
                                <textarea type="text" class="form-control" name="description" placeholder="description"></textarea>

                                <!-- for url redirecting-->
                                <input type="hidden" name="_next" value="{{ page.url }}" />
                                <input type="submit" class="input-sm" value="Send">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div id="body-nav">
                <div class="menu-container">
                    <button type="button" class="close-menu toggle-nav">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Work</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>

                        {% for media in site.data.socialMedia %}
                        <li>
                            <a href="javascript:void(0)">
                                <img src="{{ media.image }}"/>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

