<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="push-wrap">
                <button type="button" id="icon-transition" class="navbar-toggle toggle-nav">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <a class="navbar-brand" href="/">
                <img src="/img/logo/crux-brand-inverse.png"/>
            </a>
        </div>

        <nav id="body-nav">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                {% for media in site.data.socialMedia %}
                <li>
                    <a href="javascript:void(0)">
                        <img src="{{ media.image }}"/>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>

    </div>
</nav>

