@import "navbar"
@import "footer"

body
  margin: 0 0 75px !important

nav
  &.navbar-shrink
    background-color: black
    min-height: 34px
    .container-fluid
      .navbar-header
        height: 34px !important
        .navbar-brand
          height: auto !important
          padding: 7px 15px
          line-height: 0px
          img
            height: 20px !important
        .nav-right-container
          height: 34px !important
  &.navbar-default
    .container-fluid
      .navbar-header
        .navbar-brand
          img
            transition: all 0.5s ease
            -webkit-transition: all 0.5s ease
            -moz-transition: all 0.5s ease
            -o-transition: all 0.5s ease
            -ms-transition: all 0.5s ease

#cover-section
  background: url("/img/assets/coverbg.jpg")
  width: 100%
  height: 100vh
  background-repeat: no-repeat
  background-position: center bottom
  background-size: cover
  .row
    height: inherit
    #cover-content
      position: relative
      top: 50%
      transform: translateY(-50%)
      -webkit-transform: translateY(-50%)
      -moz-transform: translateY(-50%)
      -o-transform: translateY(-50%)
      -ms-transform: translateY(-50%)
      #cover-text
        color: white
        font-family: 'Bebas'
        font-size: 6em
#overview-section
  //height: 150vh

