@import "navbar"
@import "footer"

body
  margin: 0 0 75px !important

nav
  &.navbar-shrink
    background-color: black
    .container
      .navbar-header
        height: 90px !important
        .navbar-brand
          height: auto !important
          padding: 0 15px
          line-height: 0px
          position: relative
          top: 50%
          transform: translateY(-50%)
          -webkit-transform: translateY(-50%)
          -moz-transform: translateY(-50%)
          -o-transform: translateY(-50%)
          -ms-transform: translateY(-50%)
          img
            height: 40px !important
        .nav-right-container
          height: 90px !important
          padding: 0 20px
          .navbar-right
            position: relative
            top: 50%
            -webkit-transform: translateY(-50%)
            -moz-transform: translateY(-50%)
            -o-transform: translateY(-50%)
            -ms-transform: translateY(-50%)


  &.navbar-default
    .container
      .navbar-header
        .navbar-brand
          img
            transition: all 0.5s ease
            -webkit-transition: all 0.5s ease
            -moz-transition: all 0.5s ease
            -o-transition: all 0.5s ease
            -ms-transition: all 0.5s ease

#cover-section
  background: url("/img/assets/background.jpg")
  background-size: cover
  height: 100vh
  .row
    height: inherit
    #cover-content
      position: relative
      top: 50%
      transform: translateY(-50%)
      -webkit-transform: translateY(-50%)
      -moz-transform: translateY(-50%)
      -o-transform: translateY(-50%)
      -ms-transform: translateY(-50%)
      #cover-text
        color: white
        font-family: 'Bebas'
        font-size: 6em
#overview-section
  height: 150vh

