@import "navbar"
@import "footer"

#cover-section
  height: 100vh
  background-size: cover !important
  background-position: center !important
  width: 100% !important
  #cover-logo
    max-height: 50%
    position: relative
    top: 50%
    transform: translateY(-50%)
    margin: 0 auto

#project-section
  position: relative
  .project-title-section
    margin: 2% 0
    .project-title
      color: black
      font-family: "Bebas"
      display: block
      font-size: 36px
    .project-type
      font-family: inherit
      display: block
      margin-bottom: 2%
      font-size: 12px
      letter-spacing: 1px
    .social-widget-container
      list-style: none
      padding-left: 0
      margin-bottom: 0
      .social-item
        display: inline-block
        vertical-align: middle
        &:nth-child(2)
          margin: 0 5%
        .social-image
          height: 32px
        //  temporary
        [src="/img/project/website/icon_link.png"]
          height: 43px !important

  .project-client-section
    margin: 2% 0
    .project-info-container
      list-style: none
      padding-left: 0
      margin-bottom: 0
      .project-info-item
        .project-info-type
          font-weight: bold
          color: black
          font-size: 11px
          display: block
          margin: 2% 0
        .project-info-name
          margin: 2% 0
          display: block
          font-size: 14px
          color: black

  .project-type-section
    background-color: #333
    height: 100%
    position: absolute
    right: 0
    .project-type-icon
      height: 50px
      position: relative
      top: 50%
      transform: translateY(-50%)
      margin: 0 auto
      display: table
