<div id="work-section" class="container-fluid no-gutter">
    {% for work in site.works %}
    <div class="work-item col-md-6 col-lg-3 no-gutter">
        <a class="work-link" href="{{ work.workUrl }}">
            <div class="work-image" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/img/project/work/{{ work.image }}')">
                <div class="caption">
                    <h4 class="project-title">{{ work.title }}</h4>
                    <h6 class="project-type">{{ work.type }}</h6>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>



